h1{
    color: red;
}


.intro h2{
        color:aqua;
        text-align: center;
}
p{
    margin-left: 40%;
    margin-right: 40%;
}

h2 {
    color:blue;

}
p{
    text-align: center;
}

.content{
    display:flex;
    flex-direction: column;
    background-color:darkorchid;

}
.div{
    background-color:chocolate;
    width: 100px;
    margin:10px;

}